<div class='container'>
    <div class='columns is-mobile is-centered'>
        <div class='column is-10'>
            <div class='box'>
                <h4 class="title is-4">164 British/Argentine Squadron "Firmes Volamos"</h4>
                <img class="image container is-256x256 py-2" src="/img/squadron.jpg" alt="">
                <p> When World War 2 broke out in Europe, more than 800 young men and women from neutral Argentina, some
                    of them schoolboys, rushed to sign up as volunteers and then made the long, dangerous trip to Europe
                    by boat. Some of them were native Argentines while others descended from British who helped develop
                    the country’s railways, mines and farms and later established.</p>
                <p>Some 400 of the volunteers were accepted as pilots while the others served as gunners, bomb aimers
                    and wireless operators. The RAF created a special squadron, the 164. The motto of the Squadron was
                    “Firmes volamos” (Determined We Fly) and its insignia was a British lion in front of a rising sun
                    representing Argentina. The 164 saw action first over the English Channel and then over Europe.
                    Around 150 men were killed and many taken prisoners.</p>
                <p>These men stories remained untold for a number of reasons, but partly because the pilots scattered,
                    some staying in Europe, some going home and others emigrating.
                    This is a little project to help keep the memory of these courageous people living forever, and
                    preserve the record of service and the achievements of the 164.</p>
                <a href="/">
                    <button class="button is-info is-link mt-2">← Back</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div>

</div>